@use 'variables' as *;

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: $bp-mobile) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  } @else if $breakpoint == laptop {
    @media (min-width: $bp-laptop) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  } @else {
    @warn "⚠️ El breakpoint `#{$breakpoint}` no existe. Usa: mobile, tablet, laptop o desktop.";
  }
}
