

// Colores
$color-black: #151515;
$color-carbon: #242424;
$color-green: #4EE1A0;
$color-white: #FFFFFF;
$color-gray: #D8D8D8;
$color-red: #FF6F5B;
$color-gray-light: #979797;


// Tipografías
$font-heading: 'Space Grotesk', sans-serif;


// Breakpoints (mobile-first)
$bp-mobile: 23.4375rem;  // 375px 
$bp-tablet: 48rem;       // 768px
$bp-laptop: 64rem;       // 1024px
$bp-desktop: 90rem;      // 1440px
