@use './variables' as *;
@use './mixins' as *;

@use 'home' as *;
@use 'header' as *;
@use 'footer' as *;

/* ============================
RESET
============================ */
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

html {
  scroll-behavior: smooth;
}

html {
  font-family: $font-heading;
}

